body {
    padding: 25px;
    background-color: white;
    color: white;
    font-size: 25px;
  }
  
  .dark-mode {
    background: var(--black, #232536);
    color: white;
  }

  .icon{
    width: 30px;
    height: 30px;
    margin-left: 15px;
    cursor: pointer;
  }
  
  .post-card {
    border: 3px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
    width: 350px;
    height: 520px;
    margin-left: 35px;
    transition: all 1s;
    cursor: pointer;
  }
  .post-card:hover{
    background-color: #232536;

  }

  .post-img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 50%;
    margin-bottom: 10px;
  }

  .post-authorDate {
    font-weight: bold;
    color: #d2d5ee;
  }

  .post-title {
    font-weight: bold;
    color: #d2d5ee;
  }

  .post-body {
    line-height: 1.4;
    color: #d2d5ee;
  }
  #postContainer{
    display: flex;
    flex-wrap:wrap ;
    width: 1200px;
    margin: 0 auto;
  }
  .post-category{
    color: #232536;
  }
  #postPhotosContainer{
    /* display: flex; */
    flex-wrap: wrap;
  }
  .post-category1{
    color: var(--purple, #592EA9);

/* Cap 1 */
font-family: Inter;
font-size: 16px;
font-style: normal;
font-weight: 600;
line-height: 20px; /* 125% */
letter-spacing: 3px;
text-transform: uppercase;
  }
  .post-title1{
    color: var(--black, #121636);

/* Heading H2 */
font-family: Sen;
font-size: 36px;
font-style: normal;
font-weight: 700;
line-height: 48px; /* 133.333% */
letter-spacing: -2px;
  }
  .post-body1{
    color: var(--medium-grey, #6D6E76);

/* Body 1 */
font-family: Inter;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 28px; /* 175% */
  }
