.main{
    width: 100%;
    margin-top: 150px;
    &__container{
       margin: 0 auto;
       width: 1200px;

    }
    &__register{
        align-items: center;
        justify-content: center;
        margin-left: 500px;
    }
    &__title{
        color: #d2d5ee;

/* Heading H1 */
font-family: Sen;
font-size: 48px;
font-style: normal;
font-weight: 700;
line-height: 64px; /* 133.333% */
    }
    &__title1{
        color: #d2d5ee;

/* Heading H1 */
font-family: Sen;
font-size: 48px;
font-style: normal;
font-weight: 700;
line-height: 64px; /* 133.333% */
margin-left: 20px;
    }
    &__iput{
        display: flex;
width:  500px;
padding: 10px;
color: var(--black, #232536);

/* Body 1 */
font-family: Inter;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 28px; /* 175% */
    }
    &__iput:hover{
        border: 2px solid #061492;
        box-shadow: 3px 3px 3px#061492;
    }
    &__form{
        margin-left: -150px;
        margin-top: 20px;
    }
    &__btn{
        color: var(--black, #232536);
font-family: Sen;
font-size: 24px;
font-style: normal;
font-weight: 700;
line-height: 32px; /* 133.333% */
width: 500px;
height: 50px;
flex-shrink: 0;
background: var(--yellow, #FFD050);
        border: 2px solid #FFD050;
cursor: pointer;
transition: all 0.5s;
    }
    &__btn:hover{
        background-color: white;
    }
    &__item{
        color: var(--black, #232536);
font-family: Sen;
font-size: 24px;
font-style: normal;
font-weight: 700;
line-height: 32px;
text-decoration: none;
    }
}

.main {
    width: 1200px;
    margin: 0 auto;
    margin-top: 100px;

    &__search {
        color: var(--black, #232536);

        /* Body 1 */
        font-family: Inter;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 28px;
        /* 175% */
        border-radius: 2px;
        border: 1px solid rgba(109, 110, 118, 0.50);
        width: 1200px;
        height: 60px;
        margin-bottom: 20px;
        transition: all 1s;
    }
   
}